In [111]:
import pandas as pd
deliveries_df = pd.read_csv(r"C:\Users\banav\Desktop\data\deliveries.csv")
deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [2]:
deliveries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [3]:
deliveries_df.shape

(179078, 21)

In [4]:
matches_df = pd.read_csv(r"C:\Users\banav\Desktop\data\matches.csv")

In [5]:
matches_df.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [7]:
matches_df.shape

(756, 18)

### 1. Which of the following is the right way to merge 2 datasets for getting better insights from the data

In [10]:
merged_data = pd.merge(deliveries_df, matches_df, left_on='match_id', right_on='id', how='inner')

In [11]:
merged_data.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

### 2. The column which has the most missing values according to the data is:

In [14]:
matches_df.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

### 3 City which hosted most number of seasons according to the data is:

In [15]:
matches_df['city'].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

### 4. Which year has the most number of matches played?

In [21]:
matches_df.groupby('season')['season'].value_counts().idxmax()

(2013, 2013)

In [22]:
matches_df.groupby('season')['season'].value_counts()

season  season
2008    2008      58
2009    2009      57
2010    2010      60
2011    2011      73
2012    2012      74
2013    2013      76
2014    2014      60
2015    2015      59
2016    2016      60
2017    2017      59
2018    2018      60
2019    2019      60
Name: season, dtype: int64

### 5 Maximum wins by Mumbai Indians in 2011 are

In [178]:
matches_df[(matches_df['winner'] == 'Mumbai Indians') & (matches_df['season'] == 2011)]['winner'].count()

10

### 7  What is the percentage of getting bat and field in feature 'toss_descision'?

In [42]:
matches_df['toss_decision'].value_counts(normalize=True) * 100

field    61.243386
bat      38.756614
Name: toss_decision, dtype: float64

### 8 Which statement holds true
*
1 point
A) Teams winning tosses and electing field first have won more number of matches.
B) Teams winning tosses and electing bat first have won more number of matches.
C) Both A and B
D) None of the above

In [43]:
toss_winner = matches_df[matches_df['toss_winner'] == matches_df['winner']]

In [49]:
field_first_win =  toss_winner[toss_winner['toss_decision'] == 'field']

In [50]:
bat_first_win = toss_winner[toss_winner['toss_decision'] == 'bat']

In [51]:
len(field_first_win)

259

In [52]:
len(bat_first_win)

134

### In which years where taking batting second have won more number of matches?

In [65]:
matches_df[(matches_df['toss_decision'] == 'field') & (matches_df['team2'] == matches_df['winner'])]['season'].value_counts()

2016    32
2019    31
2017    28
2011    27
2018    27
2014    24
2008    19
2012    18
2013    15
2009    14
2015    14
2010    10
Name: season, dtype: int64

In [66]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179078 entries, 0 to 179077
Data columns (total 39 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
 21  id                179078 non-null  int64
 22  season            179078 non-null  int64
 23  city              177378 non-null  object
 24  date              179078 non-null  object
 25  team1             179078 non-null  object
 26  team2             179078 non-null  object
 27  toss_winner       179078 non-null  object
 28  toss_decision     179078 non-null  object
 29  result            179078 non-null  object
 30  dl_applied        179078 non-null  int64
 31  winner            178706 non-null  object
 32  win_by_runs       179078 non-null  int64
 33  win_by_wickets    179078 non-null  int64
 34  player_of_match   178706 non-null  object
 35  venue             179078 non-null  object
 36  umpire1           178578 non-null  object
 37  umpire2           178578 non-null  object
 38  umpire3           28366 non-null   object
dtypes: int64(18), object(21)
memory usage: 54.7+ MB

In [73]:
deliveries_df[deliveries_df['dismissal_kind'] != 'run out']['bowler'].value_counts()

Harbhajan Singh    3440
A Mishra           3163
PP Chawla          3150
R Ashwin           3003
SL Malinga         2956
                   ...
B Chipli              6
I Malhotra            6
SPD Smith             2
SN Khan               2
AC Gilchrist          1
Name: bowler, Length: 405, dtype: int64

In [74]:
deliveries_df['dismissal_kind'].value_counts()

caught                   5348
bowled                   1581
run out                   852
lbw                       540
stumped                   278
caught and bowled         211
retired hurt               12
hit wicket                 10
obstructing the field       2
Name: dismissal_kind, dtype: int64

### 13 What is the strike rate of Kohli in 2016
*
HINT: strike rate = (Total Runs / Total Balls Faced) * 100

In [177]:
kohli = merged_data[(merged_data['batsman'] == 'V Kohli') & (merged_data['season'] == 2016)]

total_runs = kohli['total_runs'].sum()
total_balls = kohli['ball'].sum()

(total_runs / total_balls) * 100

44.4543429844098

In [185]:
kohli_2016 = merged_data[(merged_data['batsman'] == 'V Kohli') & (merged_data['season'] == 2016)]
kohli_2016['ball'] = pd.to_numeric(kohli_2016['ball'], errors='coerce').fillna(0)
total_runs = kohli_2016['batsman_runs'].sum()
total_balls_faced = kohli_2016['ball'].sum()
strike_rate = (total_runs / total_balls_faced) * 100
print(f"Virat Kohli's strike rate in 2016: {strike_rate:.2f}")

Virat Kohli's strike rate in 2016: 43.34

C:\Users\banav\AppData\Local\Temp\ipykernel_10140\4231720599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kohli_2016['ball'] = pd.to_numeric(kohli_2016['ball'], errors='coerce').fillna(0)

### 19 Across all seasons which player was dismissed the maximum number of times via caught and bowled

In [132]:
deliveries_df[deliveries_df['dismissal_kind'] == 'caught and bowled']['player_dismissed'].value_counts()

SK Raina      7
RG Sharma     6
AT Rayudu     5
RA Jadeja     5
R Dravid      5
             ..
AB Agarkar    1
ML Hayden     1
IK Pathan     1
MK Tiwary     1
JC Buttler    1
Name: player_dismissed, Length: 120, dtype: int64

### 18 What are the total runs scored by V Kohli when the bowler was JJ Burmah?

In [135]:
deliveries_df[(deliveries_df['batsman'] == 'V Kohli') & (deliveries_df['bowler'] == 'JJ Bumrah')]['total_runs'].sum()

114

### 20 which player has the highest hard-hitting ability?

In [144]:
players = deliveries_df[deliveries_df['batsman'].isin(['AB de Villiers', 'CH Gayle', 'MS Dhoni', 'V Kohli'])]
(players.groupby('batsman')['total_runs'].sum() / players.groupby('batsman')['ball'].sum()) * 100

batsman
AB de Villiers    42.333272
CH Gayle          42.967992
MS Dhoni          38.444517
V Kohli           38.131450
dtype: float64

### 17. Across seasons who are the top three batsman's with most number of run out?

In [149]:
deliveries_df[deliveries_df['dismissal_kind'] == 'run out']['batsman'].value_counts()

MS Dhoni       21
RG Sharma      17
KD Karthik     16
G Gambhir      15
V Kohli        15
               ..
RR Bhatkal      1
T Kohli         1
PC Valthaty     1
SP Fleming      1
J Suchith       1
Name: batsman, Length: 277, dtype: int64

### 11 In 2019 which batsman scored highest number of runs by hitting 6's and 4's?`

In [165]:
season = merged_data[merged_data['season'] == 2019]
runs = season[season['batsman_runs'].isin([4, 6])]
runs.groupby('batsman')['batsman_runs'].sum().idxmax()

'AD Russell'

### 12 Most number of wickets taken by a bowler is

In [182]:
merged_data['bowler'][merged_data['dismissal_kind'].notna()].value_counts().idxmax()

'SL Malinga'

### 16 In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?

In [171]:
matches_df[(matches_df['season'] == 2017) & (((matches_df['team1'] == 'Sunrisers Hyderabad') & (matches_df['team2'] == 'Royal Challengers Bangalore')) | ((matches_df['team1'] == 'Royal Challengers Bangalore') & (matches_df['team2'] == 'Sunrisers Hyderabad')))]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

### 15 Which venue has hosted most number of IPL matches?

In [172]:
matches_df['venue'].value_counts()

Eden Gardens                                            77
M Chinnaswamy Stadium                                   73
Wankhede Stadium                                        73
Feroz Shah Kotla                                        67
Rajiv Gandhi International Stadium, Uppal               56
MA Chidambaram Stadium, Chepauk                         49
Sawai Mansingh Stadium                                  47
Punjab Cricket Association Stadium, Mohali              35
Maharashtra Cricket Association Stadium                 21
Subrata Roy Sahara Stadium                              17
Dr DY Patil Sports Academy                              17
Kingsmead                                               15
Punjab Cricket Association IS Bindra Stadium, Mohali    14
SuperSport Park                                         12
Sardar Patel Stadium, Motera                            12
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium     11
Brabourne Stadium                                       11
Saurashtra Cricket Association Stadium                  10
Holkar Cricket Stadium                                   9
Himachal Pradesh Cricket Association Stadium             9
Rajiv Gandhi Intl. Cricket Stadium                       8
M. A. Chidambaram Stadium                                8
New Wanderers Stadium                                    8
Feroz Shah Kotla Ground                                  7
Barabati Stadium                                         7
M. Chinnaswamy Stadium                                   7
St George's Park                                         7
Newlands                                                 7
JSCA International Stadium Complex                       7
Sheikh Zayed Stadium                                     7
Dubai International Cricket Stadium                      7
IS Bindra Stadium                                        7
Shaheed Veer Narayan Singh International Stadium         6
Sharjah Cricket Stadium                                  6
Nehru Stadium                                            5
Green Park                                               4
De Beers Diamond Oval                                    3
Vidarbha Cricket Association Stadium, Jamtha             3
Buffalo Park                                             3
OUTsurance Oval                                          2
ACA-VDCA Stadium                                         2
Name: venue, dtype: int64

### 14.  Bowlers with maximum number of extras

In [183]:
merged_data.groupby('bowler')['extra_runs'].sum().idxmax()

'SL Malinga'